@import url('https://fonts.googleapis.com/css?family=Roboto');

.nav-text {
  line-height: 21px;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

.footer {
  background-color: #f3f3f3;
}

.footer .col-xs-12 p {
  text-align: center;
  margin: 1.25vh 0;
}